<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Messages</title>
        <!-- Google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin=""
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Cairo&amp;family=Coming+Soon&amp;family=Lemonada&amp;family=Libre+Baskerville&amp;family=Montserrat&amp;family=Readex+Pro&amp;family=Sacramento&amp;display=swap"
            rel="stylesheet"
        />
        <!-- My Style -->
        <link rel="stylesheet" href="/css/messages_style.css" />
        <link rel="stylesheet" href="/css/Footer.css" />
        <link rel="stylesheet" href="/css/NavigationBar.css" />

        <!-- Bootstrap CDN-->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
            crossorigin="anonymous"
        />
        <!-- Font Awesome -->
        <link rel="stylesheet" href="/font awesome lib/css/all.min.css" />
    </head>

    <body>
        <div class="shadow" id="page-top"></div>
        <%- include('../partials/navbar') -%>

        <section class="messages-list">
            <div class="container">
                <div class="intro">
                    <h2 class="text-center">Messages</h2>
                </div>
                <p class="notFound fs-1 text-center"></p>
                <div class="row row-cols-1 messages">
                    <% if(messages.length !== 0) { messages.forEach( (message)=>{ %>
                    <% if(message.new === "NEW"){ %>
                        <div class="col item new" id="<%=message._id%>">
                    <% }else { %>
                        <div class="col item" id="<%=message._id%>">
                    <% } %>
                            <img
                            class="msg-image d-inline me-3"
                            src="/images/unknown.jpg"
                            alt="charity-img"
                        />
                        <h3 class="d-inline me-2">
                            <%= message.from %> 
                        </h3>
                        <h6 class="msg-type d-inline"><%= message.subject %></h6>
                        <p class="description"><%= message.content %></p>
                    </div>
                    <% })} %>
                </div>
            </div>
        </section>

        <%- include('../partials/footer') -%>
        <script>
            
        </script>
        <!-- JQuery Google CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <!-- Bootstrap JS -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
            integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
            crossorigin="anonymous"
        ></script>
        <!-- My JS -->
        <script src="/js/navigationBar.js"></script>
        <script src="/js/messages.js"></script>
    </body>
</html>
